<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      
      <div class="footer-col" style="margin-right:15px;">
        <ul class="contact-list">
          <li>{{ site.title }} [ <a href="cv.pdf">C.V.</a> ]
	  </li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col" style="margin-right:15px">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col" style="">
	<ul class="contact-list">
	  <li class="rss-subscribe">Blog <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></li>
	  <li><form action="get" id="site_search">
	  <label for="search_box">Search&nbsp;&nbsp;</label><input type="text" id="search_box">
	  <input type="submit" value="search" class="btn">
	</form></li>
      </div>

    </div>

  </div>

</footer>
