<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      
      <div class="footer-col" style="margin-right:15px;">
        <ul class="contact-list">
          <li>{{ site.title }} [ <a href="cv.pdf">C.V.</a> ]
	  </li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col" style="margin-right:15px">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col" style="">
	<ul class="contact-list">
	  <li><form action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=etosch', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><input type="text" style="width:140px" name="email" placeholder="<email address>"/><input type="hidden" value="etosch" name="uri"/><input type="hidden" name="loc" value="en_US"/><input type="submit" value="Subscribe" /><small>
	  </li>
	  <li>Delivered by <a href="https://feedburner.google.com" target="_blank">FeedBurner</a></small></form></span>
</li>
</ul>
</div>

<!-- <div class="footer-col"> -->
<!-- <ul class="contact-list"> -->
<!-- <li class="rss-subscribe">Blog <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></li>&nbsp;&middot;&nbsp; -->

<!-- <form action="get" id="site_search"> -->
<!--   <label for="search_box">Search&nbsp;&nbsp;</label> -->
<!--   <input type="text" id="search_box"> -->
<!--   <input type="submit" value="Search" class="btn"> -->
<!-- </form> -->
<!-- </li> -->
<!-- </div> -->
</div>

  </div>

</footer>
